
@{
    ViewBag.Title = "Category images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category images</h2>

<a href="~/Gallery/Categories">Back to categories</a>

<table class="table">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Image
            </td>
            <td>
                Source
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model.Data.Images)
        {
            <tr>
                <td>@image.Id</td>
                <td><img src="@image.Url"/></td>
                <td><a href="@image.SourceUrl" target="_blank">@image.SourceUrl</a></td>
            </tr>
        }
    </tbody>
</table>